Assets/BigAssets/Placeholder/decorfinish.png.meta
Assets/BigAssets/Placeholder/decorfinish.png
Assets/BigAssets/Placeholder/creditbutton.png.meta
Assets/BigAssets/Placeholder/creditbutton.png
Assets/BigAssets/Placeholder/4. Leaderboard Atlas.png.meta
Assets/BigAssets/Placeholder/4. Leaderboard Atlas.png
Assets/BigAssets/Placeholder/1_0003_Layer-293.png.meta
Assets/BigAssets/Placeholder/1_0003_Layer-293.png
Assets/BigAssets/Placeholder.meta
Assets/BigAssets/Font/Tox Typewriter.ttf.meta
Assets/BigAssets/Font/Tox Typewriter.ttf
Assets/BigAssets/Font.meta
Assets/BigAssets/Screenfader.jpg.meta
Assets/BigAssets/Screenfader.jpg
Assets/BigAssets/Placeholder/playbutton.png.meta
Assets/BigAssets/Placeholder/playbutton.png
Assets/BigAssets/Placeholder/long-clipart-sticky-note-672169-5468220.png.meta
Assets/BigAssets/Placeholder/long-clipart-sticky-note-672169-5468220.png
Assets/BigAssets/Placeholder/freeicon.png.meta
Assets/BigAssets/Placeholder/freeicon.png
Library/
Temp/
Assets/BigAssets.meta
.vs/
MotorikAnak.csproj
MotorikAnak.sln
MotorikAnak.Plugins.csproj
